AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Left
AllowAllArgumentsOnNextLine: false
BinPackArguments: false # Deprecated, but VS clang isn't updated
BinPackParameters: false # Deprecated, but VS clang isn't updated
BreakAfterOpenBracketFunction: true
BreakBeforeBraces: Mozilla
BreakConstructorInitializers: BeforeComma
ColumnLimit: 80
CompactNamespaces: true
Cpp11BracedListStyle: Block
FixNamespaceComments: true
IndentWidth: 4
InsertNewlineAtEOF: true
LineEnding: CRLF
PointerAlignment: Left
SortIncludes: CaseSensitive
SpaceInEmptyBraces: Never
Standard: c++20